<h1>New User</h1>

<%= form_for @user, do |f| %>
  
  <% unless @user.errors.empty? %>
    <div class='alert alert-block alert-error'>
      <h2 class='alert-heading'>Failed to save user</h2>
      <% @user.errors.full_messages.each do |msg| %>
        <p><%= msg %></p>
      <% end %>
    </div>
  <% end %>

  <fieldset>
    <div class="clearfix">
      <label class='control-label' for="email">E-mail</label>
      <div class='input'>
        <%= f.text_field :email %>
      </div>
  </fieldset>
  
  <fieldset>
    <div class="clearfix">
      <label class='control-label' for="password">Password</label>
      <div class='input'>
        <%= f.password_field :password %>
      </div>
  </fieldset>
  
  <fieldset>
    <div class="clearfix">
      <label class='control-label' for="password_confirmation">Password Confirmation</label>
      <div class='input'>
        <%= f.password_field :password_confirmation %>
      </div>
  </fieldset>
  
  <fieldset>
    <div class='controls'>
      <%= f.submit "Save", class: 'btn-primary' %>
      or
      <%= link_to "Cancel", root_path %>
    </div>
  </fieldset>
  
  
<% end %>
